.App {
  width: 100%;
  height: 100vh;
}

.App__todo-container {
  width: 30vw;
  margin: 4% auto;
}

.App__todo-container--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  padding: 2%;
}

.App__todo-container--top-input {
  flex: 1;
  height: 30px;
  margin-right: 2%;
}

.App__todo-container--top-button {
  height: 100%;
}

.App__todo-container--main {
  width: 98%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Card {
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 2%;
}
